@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  font-family: 'Henri Didot', serif;
}

.category-title {
  font-family: 'Open Sans', sans-serif;
}

.category-title.selected {
  font-weight: 600;
}

.empty-content-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.article-card-title {
  font-family: 'Georgia Pro Cond', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.7rem;
}

.article-title {
  font-family: 'Georgia Pro Cond', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}

.article-content {
  font-family: 'Georgia Pro Light', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2;
}

.article-summary,
.mobile-warning {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
