@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Break this up */
/* Things will get complicated quite quickly if I don't start breaking this up soon */

.static-view {
  display: flex;
  justify-content: center;
}

.navbar {
  font-family: 'Henri Didot', serif;
}

.category-title {
  font-family: 'Open Sans', sans-serif;
}

.category-title.selected {
  font-weight: 600;
}

.empty-content-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.article-card-title {
  font-family: 'Georgia Pro Cond', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  font-size: 1.7rem;
}

.static-view h1,
.static-view h2,
.article-title {
  font-family: 'Georgia Pro Cond', sans-serif;
  font-size: 2.0rem;
  line-height: 1.1;
  text-align: center;
}

.static-view h1,
.static-view h2 {
  font-family: 'Henri Didot', serif;
  text-align: left;
}

.static-view h2 {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .article-title {
    font-size: 2.5rem;
  }
}

.static-view p,
.article-content {
  font-family: 'Georgia Pro Light', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2;
}

.article-summary,
.mobile-warning {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.article-created {
  font-size: 0.8rem;
  font-weight: 400;
}

.sign-in-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.form-control {
  font-family: 'Open Sans', sans-serif;
}

